{% load mezzanine_tags static %}
{% spaceless %}
<a class="art-gallery" data-toggle="lightbox" data-parent="" data-title="{% if title %}{{ title }}{% else%} " " {% endif %}" data-gallery="global-gallery" href="{{ src }}" title="{{ title }}">
   <figure class="gallery-art">
       <img alt="{{ alt }}" class="img-responsive" src="{% get_media_prefix %}/{% thumbnail src width height %}" />
		{% comment %}
       <figcaption><p>{{ title }}</p></figcaption>
   		{% endcomment %}
   </figure>
</a>
{% endspaceless %}
