{% load static mezzanine_tags %}
<div class="row {{ section }}">
    {% for page in articles reversed %}
      {% if forloop.counter0 < 2 %}
      <div class="col-md-6">
      <a href="{{page.get_absolute_url}}" class="rel-row">
        <div class="cover">
          <figure>
            <img class="img-responsive" src="{% get_media_prefix %}{% thumbnail page.article.cover 458 220  %}" alt="{{ page.title }}" />
            <figcaption  class="data-block">
              <p>
                {{ page.publish_date|date:"d" }}
              <span>{{ page.publish_date|date:"m.Y" }}</span>
              </p>
            </figcaption>
          </figure>            
            <p class="header-content">
                {{page.title}}
            </p>
               {{page.description|safe}}            
          </div>
          </a>
        </div>
        {% endif %}
    {% endfor %}      
</div>